<div my-highlighter >
C:\Users\Shekhar Mandhotra\Desktop\TechLearning\Angular\demo>ng g c custom-directives
CREATE src/app/custom-directives/custom-directives.component.html (36 bytes)
CREATE src/app/custom-directives/custom-directives.component.spec.ts (699 bytes)
CREATE src/app/custom-directives/custom-directives.component.ts (312 bytes)
CREATE src/app/custom-directives/custom-directives.component.css (0 bytes)
UPDATE src/app/app.module.ts (1202 bytes)
</div>
<div *myIf="true" >
C:\Users\Shekhar Mandhotra\Desktop\TechLearning\Angular\demo>ng g c custom-directives
CREATE src/app/custom-directives/custom-directives.component.html (36 bytes)
CREATE src/app/custom-directives/custom-directives.component.spec.ts (699 bytes)
CREATE src/app/custom-directives/custom-directives.component.ts (312 bytes)
CREATE src/app/custom-directives/custom-directives.component.css (0 bytes)
UPDATE src/app/app.module.ts (1202 bytes)
</div>
