
<h1>Add Country</h1><br>
<input type="text" [(ngModel)]="countryObj.name" placeholder="Country Name">

<br>
<br>
<input type="button" (click)="save()" value="Save">&nbsp;
<input type="button" (click)="cancel()" value="Cancel">&nbsp;
<input type="button" (click)="Update()" value="Update">&nbsp;

<br>
<input type="text" [(ngModel)]="pagesearch" placeholder="search">
<input type="button" (click)="search()" value="Search">&nbsp;
<table>
  <tr>
  <th>Name</th>
  <th>States</th>
  <th>Action</th>
  </tr>
  <tr *ngFor="let obj of arrCountry">
    <td>{{obj.name}}</td>
    <td><a routerLink="/detail/{{obj._id}}/{{obj.name}}">States</a></td>
    <td>
      <a (click)="edit(obj)">Edit</a>|
      <a (click)="delete(obj)">Delete</a>
    </td>
  </tr>
  
</table>
<p><a (click)="getData(pagesearch,pageno,pagesize)" *ngFor="let pageno of arrPage">
  {{pageno}}
</a></p>
