<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    <input type="text" [(ngModel)]="id" placeholder="ID">
    
    <input type="text" [(ngModel)]="name" placeholder="Name">
  <button (click)="saveData1()">Save</button>
<button (click)="updateData()">Update</button>
<button (click)="cancel()">Cancel</button>
</div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of arr">
            <td>{{obj.id}}</td>
            <td>{{obj.name}}</td>
            <td><button (click)="editData(obj)">Edit</button></td>
            
            <td><button (click)="deleteData(obj)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
